{% extends "layout.html" %}
{% block content %}
<body>

{% include "navi_bar.html" %}

  <div class="container">
    <div class="header">
      <h3 class="text-muted" style="margin-top:60px">統計結果</h3>
<img src="/static/rate.png" height="300">
    <table>
      <tr>
        <th> 戦法</th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> 勝率</th>
        <th> 勝ち</th>
        <th> 負け</th>
        <th> 千日手</th>
      </tr>
      {% for l1, values in analitics.items() %}
      <tr>
        <td> {{l1}} 累計</td>
      <td></td>
      <td></td>
      <td> 先手 </td>
      <td>{{ '%0.2f' % values[0]['先手'][0] }}</td>
      <td>{{values[0]['先手'][1]}}</td>
      <td>{{values[0]['先手'][2]}}</td>
      <td>{{values[0]['先手'][3]}}</td>
      </tr>
      <tr>
        <td> {{l1}} 累計</td>
      <td></td>
      <td></td>
      <td> 後手 </td>
      <td>{{ '%0.2f' % values[0]['後手'][0]}}</td>
      <td>{{values[0]['後手'][1]}}</td>
      <td>{{values[0]['後手'][2]}}</td>
      <td>{{values[0]['後手'][3]}}</td>
      </tr>

        {% for l2, value in values[1].items() if l1 != "未分類"  %}
        <tr>
          <td></td>
          <td> {{l2}} 累計</td>
        <td></td>
        <td> 先手 </td>
        <td>{{ '%0.2f' % value[0]['先手'][0]}}</td>
        <td>{{value[0]['先手'][1]}}</td>
        <td>{{value[0]['先手'][2]}}</td>
        <td>{{value[0]['先手'][3]}}</td>
        </tr>

        <tr>
          <td></td>
          <td> {{l2}} 累計</td>
          <td></td>
          <td> 後手 </td>

          <td>{{ '%0.2f' % value[0]['後手'][0]}}</td>
          <td>{{value[0]['後手'][1]}}</td>
          <td>{{value[0]['後手'][2]}}</td>
          <td>{{value[0]['後手'][3]}}</td>
        </tr>

        {% for l3, x in value[1].items() if l2 != "未分類"%}
        <tr>
          <td></td>
          <td></td>
          <td>{{l3}}</td>
          <td>先手</td>
          <td> {{ '%0.2f' % x["先手"][0]}} </td>
          <td> {{x["先手"][1]}} </td>
          <td> {{x["先手"][2]}} </td>
          <td> {{x["先手"][3]}} </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>{{l3}}</td>
          <td>後手</td>
          <td> {{ '%0.2f' % x["後手"][0]}} </td>
          <td> {{x["後手"][1]}} </td>
          <td> {{x["後手"][2]}} </td>
          <td> {{x["後手"][3]}} </td>
        </tr>
        {% endfor %}
      </tr>





        {% endfor %}
        {% endfor %}
    <table>
    </div>
  </div>
</body>
{% endblock %}
