{% extends "layout.html" %}
{% block content %}
<body>

{% include "navi_bar.html" %}

  <div class="container">
    <div class="header">

    <h3 class="text-muted" style="margin-top:60px">ユーザー情報編集</h3>

        <form id="user_config" name="all" class="ss" action="/config_user" method="post" styleId="sampleId" >
          <p>ユーザー名<br>
          <input type="text" name="user">
          </p>
          <p>パスワード<br>
          <input type="password" name="password">
          </p>
          <input type="submit" value="追加" >
        </form>

        {% for user, password in users.items() %}
        <form action="/delete_user" method="post" styleId="sampleId" >
          <table>
            <tr>     <th> user_name</th> <th> password</th> </tr>
            <tr> <td> {{user }}</td> <td> {% for x in password%}  * {% endfor %} </td></tr>
          </table>
          <input type="hidden" name="user" value={{user}}>
          <input type="submit" value="削除" >
        </form>
        {% endfor %}
    </div>
  </div>
</body>
{% endblock %}
