{% extends "layout.html" %}
{% block content %}
<body>

  <div id="floating-menu">

     <a href="/" target="_blank">　対局結果一覧　</a>
     <a href="/analitics" target="_blank">　統計　</a>
     <a href="/kif" target="_blank">　棋譜取得　</a>
     <a href="/rate" target="_blank">　レート推移　</a>
      <a href="/config_user" target="_blank">　ユーザー情報編集　</a>
     <input type="submit" value="更新" form="all">
  </div>

  <div class="container">
    <div class="header">

    <h3 class="text-muted" style="margin-top:60px">レート推移</h3>

<img src="/static/rate.png" height="300">
<p> 累計 </p>
{% for name in user_names %}
<img src="/static/rate_{{name}}.png" height="300">
<p> {{name}} </p>
{% endfor %}

</div>
</div>
</body>
{% endblock %}
